<h1>Please fill out Project information!</h1>

<form action="/projects" method="post">
  <div class="form-group">
    <label for="project_name">Project name</label>
    <input id="name" name="project_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add project</button>
</form>

<a href="/projects">Back to Projects list!</a>