<h2>List of Volunteers in the system</h2>
<br>
<% if @volunteers %>
  <ul>
    <% @volunteers.each do |volunteer| %>
      <li><a href="/projects/<%= @project.id %>/volunteers/<%= volunteer.id %>"><%= volunteer.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no volunteers listed for this project yet.</p>
<% end %>